__pycache__/
.ipynb_checkpoints/
.DS_Store
TipModels/ChargeData/ConeCharge_L=6.33E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.00E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.00E+03_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.01E+03_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.03E+03_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.26E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.51E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.76E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=1.90E+04_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=1.00E-04.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.01E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.26E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.52E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.77E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=2.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.02E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.27E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.52E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.78E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=3.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.03E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.28E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.53E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.78E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=4.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.00E+01_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.04E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.29E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.54E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.79E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=5.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.05E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.30E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.33E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-10.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.33E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=488_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.33E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=488_Nqs=488_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.55E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.80E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=6.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.05E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.31E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.52E+01_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.56E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.81E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=7.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.06E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.31E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.57E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.82E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=8.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.00E+01_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.00E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.07E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.10E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.20E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.30E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.32E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.40E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.50E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.57E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.60E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.70E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.80E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.83E+02_SkinDepth=0.00E+00_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
TipModels/ChargeData/HyperboloidCharge_L=9.90E+02_SkinDepth=5.00E-02_Taper=20_Quad=TS_Nzs=244_Nqs=244_freq=3.00E-03.pickle
